---
layout: default
---

<header>
  {% include horizontal_list.html collection=site.data.home.navbar_entries %}
  <div class="dashed"></div>

  <h1>{{ site.title }}</h1>
  {% include social.html %}
  <p>{{ site.description }}</p>
</header>

{{ content }}

<h2>{{ site.theme_config.home.title_projects }}</h2>
{% include card_list.html collection=site.data.home.project_entries %}
<a href="{{ "/portfolio" | relative_url }}"><span>More..</span></a>

<!-- {% if site.theme_config.show_misc_list == true %}
  <h2>{{ site.theme_config.home.title_misc_list }}</h2>
  {% include vertical_list.html collection=site.data.home.misc_entries %}
{% endif %} -->

<h2>Recent {{ site.theme_config.home.title_blog }} Posts</h2>
{% include post_list_short.html length=5 %}
<a href="{{ "/blog" | relative_url }}"><span>More..</span></a>

<br>


<!-- <footer>
  <div class="dashed"></div>
  {% include horizontal_list.html collection=site.data.home.footer_entries %}
</footer> -->
